
{{ form_start(form, {action: path('app_contact_create')}) }}
    <div class="controls">
        {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge', 'placeholder': 'Name'|trans} }) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="controls">
        {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge', 'placeholder': 'E-mail'|trans} }) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="controls">
        {{ form_widget(form.message, { 'attr': {'class': 'input-xlarge', 'placeholder': 'Message'|trans, 'rows': 3} }) }}
        {{ form_errors(form.message) }}
    </div>
{{ form_end(form) }}
