{% extends 'layout.html.twig' %}

{% block content %}
<section>
<div class="row">
    <div class="span12">
        <section id="page">
        <div class="sect_title"><h3>{{ 'Contactez nous :)'|trans }}</h3></div>
        <div class="row">
            <div class="span6">
                {{ form_start(form, {action: path('app_contact_create')}) }}
                    <div class="control-group">
                        {{ form_label(form.name, null, { 'attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.email, null, { 'attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge'} }) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_label(form.message, null, { 'attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.message, { 'attr': {'class': 'input-xlarge', 'rows': 3} }) }}
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="contact_bar span6 vcard">
                <strong class="fn">Mickael Kibler et Florence Bonnot</strong>
                <p>
                    <img src="/img/home.png" alt="" width="40" height="40" />
                    <a class="org" href="https://www.google.com/maps/place/Mounier+Haut/@46.0332799,3.6749956,42175m/data=!3m1!1e3!4m2!3m1!1s0x47f6b0fba7176c9d:0x5420737e240e34f9">{{ 'Camping Mounier-Haut'|trans }}</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d183657.5252123531!2d3.6749956!3d46.0332799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f6b0fba7176c9d%3A0x5420737e240e34f9!2sMounier+Haut!5e1!3m2!1sen!2s!4v1395513947768" width="400" height="300" frameborder="0" style="border:0"></iframe>
                </p>
               <span class="adr">
                  <span class="street-address">Lieu-dit Mounier-Haut</span>
                  <span class="locality">Ferrières-Sur-Sichon</span>, <span class="region">Auvergne</span>
                  <span class="postal-code">03250</span>
                  <span class="country-name">France</span>
               </span>

                <p>
                    <img src="/img/phone.png" alt="" width="40" height="40" />
                    <a class="tel" href="tel:+33687496860">+33 6 87 49 68 60</a>
                </p>
                <p>
                    <img src="/img/address.png" alt="" width="40" height="40" />
                    <a class="email" href="mailto:campingmounierhaut@gmail.com">{{ 'campingmounierhaut@gmail.com'|trans }}</a>
                </p>
            </div>
        </div>
        </section>
    </div>
</div>
</section>
{% endblock content %}
