#static_content_code {
    width: 100%;
    height: 500px;
}

body{
    background-image: url('../img/quilt.png');
}
@font-face {
    font-family: agencyfb;
    src: url('../fonts/AGENCYB.TTF');
}
@font-face {
    font-family: 'league gothic';
    src: url('../fonts/League-Gothic.otf');
}
/*Header styles*/
#header{
    background-image: url('../img/menu_bg.jpg');
    height:70px;
    width:auto;
    display:block;
    margin-top:50px;
    margin-bottom:80px;
}
#social{
    float:right;
    position:absolute;
    top: -30px;
    right: 0px;
}
#header #logo{
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    width:142px;
    height:141px;
    text-indent:-99999px;
    position:relative;
    bottom: 34px;
    float:left;
}
#header #navi{
    float:right;
    margin-top:25px;
}
#header #navi li{
    display:inline;
    font-family:agencyfb;
    font-size:24px;
    margin-left:20px ;
    text-transform:uppercase;
    padding: 4px 7px 5px 7px;
}
#header #navi li:hover{
    background-image: url('../img/navi_select.jpg');
    border-radius:5px;
}
.dropdown-menu li a{
    color:black !important;
    padding:10px;
}
.dropdown-menu li:hover{
    background-image: none!important;
    border-radius:0px!important;
}
.selected{
    background-image: url('../img/navi_select.jpg');
    border-radius:5px;
}
#header #navi li a{
    color:white;
    text-decoration:none;
}
/*Featured tagline and sub text section*/
#tagline h1{
    font-family:'league gothic';
    font-size:65px;
    font-weight:normal;
    text-align:center;
}
#tagline #above{
    color:#303030;
    position:relative;
    bottom: 43px;
    right: 6px;
}
#tagline #below{
    color:white;
}
.curly{
    position:relative;
    bottom: 11px;
}
#sub_tagline{
    font-family:georgia;
    font-size:22px;
    line-height:24px;
    font-style:italic;
    padding: 0px 60px 0px 60px;

}
#featured_slider{
    width: 917px;
    height: 350px;
    border: 11px solid white;
    margin-top: 18px;
    margin-bottom:30px;
}
.carousel-control {
    top: 50%;
}
/*Sectional styles*/
.sect_title{
    background-image: url('../img/zig.png');
    height:15px;
    text-align:center;
    margin-bottom:60px;
}
.sect_title h3{
    background-image: url('../img/quilt.png');
    display: inline;
    opacity:1.0 !important;
    color:#303030;
    font-family:'league gothic';
    font-size:52px;
    text-transform:uppercase;
    font-weight:normal;
    padding:0 10px;
    position:relative;
    bottom:5px;
}
#page{
    padding-bottom: 20px;
}
.contact_bar img{
    vertical-align:middle;

}
.contact_bar p{
    vertical-align:middle;
    font-size:14px;
}
#services{
    margin-bottom:40px;
}
#services .title{
    font-family:georgia;
    font-size:17px;
    vertical-align:top;
    float:left;
    width: 250px;
    position:relative;
    bottom:6px;
    font-weight:bold;
}
#services img{
    vertical-align:top;
    float:left;
    margin: 0 10px 5px 0px;
}
#services .subheading{
    position:relative;
    bottom:14px;
    font-style:italic;
    font-size:13px;
    color:#08C;;
}
#services .description{
    position:relative;
    bottom:10px;
}
#recent_work li{
    list-style:none;
    float:left;
    margin-right:18px;
    border:1px solid white;
}
#recent_work{
    margin-bottom:50px;
}
#recent_work li:nth-child(3n+3){
    margin-right:0px;

}
#recent_work ul{
    margin-left:0px;
}
#recent_work li img{
    border: 7px solid white;
}
#recent_work li img:hover{
    border: 7px solid #ebebeb;
}
#recent_work p{
    text-align:center;
}
/*Portfolio Page*/
#portfolio ul{
    margin-left:0px;
}
#portfolio li{
    list-style:none;
    float:left;
    margin-right:14px;
    margin-bottom:15px;
}
#portfolio li img{
    border: 7px solid white;
}
#portfolio li img:hover{
    border: 7px solid #ebebeb;
}
#portfolio li:nth-child(3n+3){
    margin-right:0px;
}
#portfolio p{
    text-align:center;
}
/*Footer styling*/
footer{
    padding:10px 0;
    background:#2e2e2e;
    min-height:100px;
    display:block;
    margin-bottom:10px;
    color:white;
}
footer a{
    color:#80ff00;
}
footer a:hover{
    color:#498809;
    text-decoration:none;
}
footer .title{
    font-family:'league gothic';
    font-size:26px;
}
.form-horizontal{
    margin-top:10px;
}
/*Generic classes*/
.relative{
    position:relative;
}
.center{
    text-align:center;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.links a{
    color:#498809;
    font-size:16px;
}
