{% extends 'layout.html.twig' %}

{% block content %}
<div class="form-actions">
    <a href="{{ path('app_registration_new') }}" class="btn btn-success">{{ 'New registration'|trans }}</a>
</div>
<div class="registration-list"></div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    $('.registration-list').fullCalendar({
        events: '{{ path('app_registration_calendar') }}'
    });
});
</script>
{% endblock javascripts %}
