{% extends 'layout.html.twig' %}

{% block content %}

<h3 style="font-style:italic">{{ 'Register'|trans }}</h3>
{{ form_start(form, {action: path('app_registration_create')}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock content %}
