{% extends 'layout.html.twig' %}

{% block content %}
<section>
<div class="row">
    <div class="span12">

        <section>

            <div id="tagline" class="center">
                <h1 id="above">{{ 'Notre région'|trans }}</h1>
                {% trans %}

                <p id="sub_tagline">
                    Bien que notre domaine puisse déjà bien vous occuper, 
                    la montagne bourbonnaise regorge d’activités des plus inréressantes.
                </p>

                {% endtrans %}
                <hr />
            </div>

            {% trans %}
            Vous pourrez y découvrir:

            <ul>
                <li>L’arboretum de Ferrières Sur sichon</li>
                <li>Vichy Aventure (rafting, kayak, hotdog, nage en eau vive, ...)</li>
                <li>De multiples randonnées en départ de notre domaine</li>
                <li>Le plan d’eau de Saint-Clément et son parc aventure</li>
                <li>Le légendaire musée de Glozel</li>
                <li>Les cascades de la Pisserotte</li>
                <li>Nos nombreux châteaux (Lapalisse, Busset, ...)</li>
                <li>Et plein d’autres merveilles encore...</li>
            </ul>
            {% endtrans %}

        </section>

        <section>
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="item {{ loop.first ? 'active' }}">
                        <img src="{{ asset(image) }}" width="917" height="350" alt="{{ image }}" />
                    </div>
                    {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </section>
    </div>
</div>
</section>
{% endblock content %}
