{% extends 'layout.html.twig' %}

{% block content %}
<h1>{{ 'Edit "%name%" page content'|trans({'%name%': name}) }}</h1>
{{ form_start(form, {action: path('app_staticcontent_edit', {id: name})}) }}
    <a href="#" id="switch-rich-editor">{{ 'switch editor'|trans }}</a>
    <div>
        {{ form_errors(form.code) }}
        {{ form_widget(form.code, {'attr': {'class': 'jwysiwyg content-editable'}}) }}
    </div>
    <div class="form-actions">
        {{ form_widget(form.Modifier) }}
        <a class="btn btn-warning" href="{{ path('app_staticcontent_reset', {'id': name}) }}">{{ 'Reset to last modification'|trans }}</a>
        <a class="" href="{{ path('app_staticcontent_index') }}">{{ 'Cancel'|trans }}</a>
    </div>
{{ form_end(form) }}
{% endblock content %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    var cm = null;
    $('textarea.content-editable').wysiwyg();

    $('#switch-rich-editor').click(function(event) {
        event.preventDefault();
        var area = $('textarea.content-editable');
        if (area.hasClass('jwysiwyg')) {
            area.wysiwyg('destroy');
            cm = CodeMirror.fromTextArea(area.get(0));
            area.removeClass('jwysiwyg');
        }
        else {
            cm.toTextArea();
            area.wysiwyg();
            area.addClass('jwysiwyg');
        }
    });
});
</script>
{% endblock javascripts %}
