{% extends 'layout.html.twig' %}

{% block content %}
<section>
<div class="row">
    <div class="span12">

        <section>

            <div id="tagline" class="center">
                <h1 id="above">{{ 'Location de chambres d\'hôtes'|trans }}</h1>
                <p id="sub_tagline">
                {% trans with {'%contact_link%': path('app_contact_new'), '%register_link%': path('app_registration_new') } %}
                    L'Auvergne vous ouvre ses portes dans L'Allier, avec ses campings et chambres d'hôtes!

                    <a href="%contact_link%"><b>Contactez nous</b></a> 
                    ou 
                    <a href="%register_link%"><b>Réservez vôtre place dès maintenant</b></a>.
                {% endtrans %}
                </p>
                <hr>
            </div>
        </section>

        <section>
        <div id="services">
            <div class="sect_title"><h3>{{ 'Nos Services'|trans }}</h3></div>
            <div class="row">
                <div class="span4">
                    <img src="/img/heart_icon.png" alt="" width="27" height="27">
                    <p class="title">{{ 'Présentation'|trans }}</p>
                    <p class="description">
                        {{ 'Perché au coeur de la montagne Bourbonnaise, le camping de Mounier Haut vous accueil sur son plateau du 1er mai au 30 septembre . Situé à une hauteur de 750 mètres d’altitude, ses multiples activités environantes vous ravirons.'|trans }}
                    </p>
                </div>
                <div class="span4">
                    <img src="/img/arrow_icon.png" alt="" width="18" height="30">
                    <p class="title">{{ 'Capacité'|trans }}</p>
                    <p class="description">{{ 'Nous disposons de 6 emplacements agréablement ombragés. Une vue à vous couper le souffle vous reposera le corps et l’esprit. '|trans }}</p>
                </div>
                <div class="span4">
                    <img src="/img/person_icon.png" alt="" width="30" height="31">
                    <p class="title">{{ 'Les animations sur place'|trans }}</p>
                    <p class="description">{{ 'Vous disposerez d’une piscine extérieur, d’un terrain de pétanque, d’une table de ping pong, d’une aire de jeux et bien d’autres activités.'|trans }}</p>
                </div>
            </div>
        </div>
        </section>

        <section>
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="item {{ loop.first ? 'active' }}">
                        <img src="{{ asset(image) }}" width="917" height="350" alt="{{ image }}">
                    </div>
                    {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
            </div>
        </section>
    </div>
</div>
</section>
{% endblock content %}