{% extends 'layout.html.twig' %}

{% block content %}
<div class="form-actions">
    <a href="{{ path('app_staticcontent_edit', {'id': 'home'}) }}" class="btn btn-success">{{ 'Edit "home"'|trans }}</a>
    <a href="{{ path('app_staticcontent_edit', {'id': 'about'}) }}" class="btn btn-success">{{ 'Edit "about"'|trans }}</a>
    <a href="{{ path('app_staticcontent_edit', {'id': 'tarifs'}) }}" class="btn btn-success">{{ 'Edit "tarifs"'|trans }}</a>
    <a href="{{ path('app_staticcontent_edit', {'id': 'contact'}) }}" class="btn btn-success">{{ 'Edit "contact"'|trans }}</a>
    <a href="{{ path('app_staticcontent_edit', {'id': 'register'}) }}" class="btn btn-success">{{ 'Edit "register"'|trans }}</a>
</div>
{% endblock content %}
