{% extends 'layout.html.twig' %}

{% block content %}
<section>
    <div class="row">
        <div class="span12">
        <section>
            <div id="tagline" class="center">
                <h1 id="above">{{ 'Tarifs'|trans }}</h1>
                {% trans %}

                <p id="sub_tagline">
                    Nous vous accueillons du 1er mai au 30 septembre.
                </p>


                {% endtrans %}
                <hr />
                {% trans with {'%contact_link%': path('app_contact_new'), '%register_link%': path('app_registration_new') } %}
                    Pour tout renseignement, <a href="%contact_link%"><b>Contactez nous</b></a>
                    ou 
                    <a href="%register_link%"><b>Réservez vôtre place dès maintenant</b></a>.
                {% endtrans %}

                <hr />
            </div>

            {% trans %}

            <ul>
                <li>Forfait par personne en tente : 6€ par jour</li>
                <li>Machine à laver : 5€</li>
                <li>Congélo ou frigo : 2€ par jour</li>
                <li>Electricité camping car ou caravane : 3,50€ par jour</li>
                <li>Animaux vaccinés et tenus en laisse : 1,50€ par jour</li>
                <li>Taxe de séjour par personne : 0.20€ par jour </li>
            </ul>
            {% endtrans %}

        </section>
    </div>
</section>
{% endblock content %}
