<!doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('vendor/bootstrap-css-only/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/jwysiwyg/jquery.wysiwyg.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/codemirror/lib/codemirror.css') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/fullcalendar/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        <header>
            <div id="header">
                <div class="container relative">
                    <div class="row">
                        <div class="span12">
                            <div id="social">
                                <a class="{{ app.locale == 'fr' ? 'current' : '' }}" href="{{ path('app_staticcontent_homepage', {'_locale': 'fr'}) }}">{{ 'fr'|trans }}</a>
                                <a class="{{ app.locale == 'en' ? 'current' : '' }}" href="{{ path('app_staticcontent_homepage', {'_locale': 'en'}) }}">{{ 'en'|trans }}</a>
                                <a href=""><img src="/img/twitter.png" alt="" width="20" height="20"></a>
                                <a href=""><img src="/img/facebook.png" alt="" width="20" height="20"></a>
                                <a href=""><img src="/img/gplus.png" alt="" width="20" height="20"></a>
                                <a href=""><img src="/img/rss.png" alt="" width="20" height="20"></a>
                            </div>
                            <h1 id="logo">{{ 'Chez Micky et Flo'|trans }}</h1>
                            <nav>
                                <ul id="navi">
                                    {% macro is_active(name) %}
                                        {{ app.request.attributes.get('_route') == name ? 'selected' : '' }}
                                    {% endmacro %}
                                    <li class="{{ _self.is_active('app_staticcontent_homepage') }}"><a href="{{ path('app_staticcontent_homepage') }}">{{ 'Home'|trans }}</a></li>
                                    <li class="{{ _self.is_active('app_staticcontent_about') }}"><a href="{{ path('app_staticcontent_about') }}">{{ 'About'|trans }}</a></li>
                                    <li class="{{ _self.is_active('app_staticcontent_tarifs') }}"><a href="{{ path('app_staticcontent_tarifs') }}">{{ 'tarifs'|trans }}</a></li>
                                    <li class="{{ _self.is_active('app_contact_new') }}"><a href="{{ path('app_contact_new') }}">{{ 'Contact'|trans }}</a></li>
                                    <li class="{{ _self.is_active('app_registration_index') }}"><a href="{{ path('app_registration_index') }}">{{ 'Register'|trans }}</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div role="main" class="container">
            {% block flashes %}
            <div id="flashes">
                {% for type, messages in app.session.flashBag.all %}
                    <div class="alert alert-{{ type }}">
                        {% for message in messages %}
                            {{ message|trans }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endblock flashes %}
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <p class="title">{{ 'Pages'|trans }}</p>
                        <p>
                            <a href="{{ path('app_staticcontent_homepage') }}">{{ 'Home'|trans }}</a><br>
                            <a href="{{ path('app_staticcontent_about') }}">{{ 'About'|trans }}</a><br>
                            <a href="{{ path('app_staticcontent_tarifs') }}">{{ 'tarifs'|trans }}</a><br>
                            <a href="{{ path('app_contact_new') }}">{{ 'Contact us'|trans }}</a><br>
                            <a href="{{ path('app_staticcontent_index') }}">{{ 'Admin'|trans }}</a><br>
                            {% if app.session.has('username') %}
                            <a href="{{ path('app_staticcontent_logout') }}">{{ 'Logout'|trans }}</a><br>
                            {% endif %}
                        </p>
                    </div>
                    <div class="span4">
                        <p class="title">{{ 'Social '|trans }}</p>
                        <p>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr">Tweeter</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/MickiEtFlo">{{ 'Facebook'|trans }}</a><br>
                            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMickiEtFlo&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=408955102487422" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
                        </p>
                    </div>
                    <div class="span4 offset1">
                        <p class="title">{{ 'Contact us'|trans }}</p>
                            {{ render(path('app_contact__form')) }}
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jwysiwyg/jquery.wysiwyg.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/codemirror/lib/codemirror.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/codemirror/mode/jinja2/jinja2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/fullcalendar/fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/bootstrap-carousel.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
