{% extends 'layout.html.twig' %}

{% block content %}

<h2>{{ 'Nouvelle réservation' }}</h2>
    {{ registration.name }}
    {{ registration.surname }}
    {{ registration.email }}
    {{ registration.startDate|date }}
    {{ registration.endDate|date }}
    {{ registration.rooms|join(', ') }}
{% endblock content %}

